spring:
  application:
    name: backend

management:
  endpoints:
    web:
      base-path: /api/actuator
      exposure:
        include: health,info
  endpoint:
    health:
      probes:
        enabled: true